# Dependencies
node_modules/

# Build artifacts
dist/
dist-ssr/

# Local files
*.local

# Logs and caches
*.log
.eslintcache
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS files
.DS_Store
